@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

.header-section {
  padding-top: 60px;
}

.container {
  width: 100%;
  max-width: 1111px;
  margin: 0px auto;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar__burger-menu {
  display: none;
}
.nav-bar__ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
.nav-bar__ul__li {
  list-style: none;
}
.nav-bar__ul__li__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #333136;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.nav-bar__ul__li__link:hover {
  text-decoration: underline;
}

.hero-section {
  width: 1111px;
  margin: 70px auto;
  width: 100%;
  height: 640px;
  background-color: #E7816B;
  border-radius: 15px;
  border: none;
  padding-top: 145px;
  padding-left: 95px;
  position: relative;
}
.hero-section__title {
  width: 540px;
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}
.hero-section__text {
  margin-top: 35px;
  width: 445px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #FFF;
  opacity: 0.8;
}
.hero-section__btn {
  margin-top: 40px;
  width: 152px;
  height: 56px;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  background-color: #FFF;
  color: #333136;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.hero-section__btn:hover {
  background-color: #FFAD9B;
  color: #FFF;
  transition: 0.5s;
}
.hero-section__circle {
  width: 640px;
  height: 640px;
  border-radius: 640px;
  opacity: 0.3089;
  background: linear-gradient(65deg, rgba(93, 2, 2, 0) 0%, rgba(93, 2, 2, 0.5) 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 100%;
}
.hero-section__phone {
  width: 439px;
  height: 621px;
  background-image: url("../images/phone.svg");
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .container {
    max-width: 689px;
    width: 100%;
    margin: 0px auto;
  }
  .hero-section {
    width: 100%;
    height: 849px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-left: 0px;
  }
  .hero-section__title {
    text-align: center;
  }
  .hero-section__text {
    text-align: center;
  }
  .hero-section__circle {
    top: 101px;
    right: -121px;
    flex-shrink: 0;
    background: url("../images/Oval.svg");
    background-repeat: no-repeat;
  }
  .hero-section__phone {
    width: 442px;
    height: 508px;
    background-image: url("../images/res-phone.svg");
    right: 105px;
    bottom: 0;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 376px;
    width: 100%;
    margin: 0px auto;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    padding: 0px 24px;
  }
  .nav-bar__ul {
    display: none;
  }
  .nav-bar__burger-menu {
    display: block;
  }
  .hero-section {
    margin: 34px auto;
    display: flex;
    height: 843px;
    padding-top: 80px;
    border-radius: 0px;
  }
  .hero-section__title {
    width: 327px;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
  .hero-section__circle {
    right: -265px;
    background-image: url("../images/ph_oval.svg");
    border-radius: 640px;
  }
  .hero-section__text {
    width: 327px;
    font-size: 15px;
    line-height: 25px;
  }
  .hero-section__phone {
    left: -15px;
  }
}
.section1 {
  margin-top: 160px;
}

.about-section1 {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.about-section1__card1 {
  width: 541px;
  height: 640px;
  background-image: url("../images/card-1.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 24px;
}
.about-section1__card1:hover {
  background-blend-mode: saturation;
}
.about-section1__card1__title {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-section1__card1__text {
  color: #FFF;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.about-section1__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.about-section1__wrapper__card2 {
  width: 541px;
  height: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  flex-direction: column;
  background-image: url("../images/card-2.svg");
  row-gap: 24px;
}
.about-section1__wrapper__card2__title {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-section1__wrapper__card2__text {
  color: #FFF;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.about-section1__wrapper__card3 {
  width: 541px;
  height: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  flex-direction: column;
  background-image: url("../images/card-3.svg");
  row-gap: 24px;
}
.about-section1__wrapper__card3__title {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-section1__wrapper__card3__text {
  color: #FFF;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .about-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
  }
  .about-section1__wrapper {
    row-gap: 24px;
  }
  .about-section1__card1 {
    width: 689px;
    height: 200px;
    background-image: url("../images/res-card-1.svg");
  }
  .about-section1__wrapper__card2 {
    width: 689px;
    height: 200px;
    background-image: url("../images/res-card-2.svg");
  }
  .about-section1__wrapper__card3 {
    width: 689px;
    height: 200px;
    background-image: url("../images/res-card-3.svg");
  }
}
@media (max-width: 376px) {
  .about-section1 {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
  }
  .about-section1__wrapper {
    row-gap: 24px;
  }
  .about-section1__card1 {
    width: 327px;
    height: 250px;
    background-image: url("../images/ph_card-1.svg");
  }
  .about-section1__card1__title {
    font-size: 28px;
  }
  .about-section1__card1__text {
    font-size: 15px;
  }
  .about-section1__wrapper__card2__title {
    font-size: 28px;
  }
  .about-section1__wrapper__card2__text {
    font-size: 15px;
  }
  .about-section1__wrapper__card3__title {
    font-size: 28px;
  }
  .about-section1__wrapper__card3__text {
    font-size: 15px;
  }
  .about-section1__wrapper__card2 {
    width: 327px;
    height: 250px;
    background-image: url("../images/ph_card-2.svg");
  }
  .about-section1__wrapper__card3 {
    width: 327px;
    height: 250px;
    background-image: url("../images/ph_card-3.svg");
  }
}
.section2 {
  margin-top: 160px;
}

.about-section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.about-section2__card1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-section2__card1__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section2__card1__right__title {
  margin-top: 48px;
  font-size: 20px;
  color: #333136;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.about-section2__card1__right__text {
  margin-top: 32px;
  color: #333136;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 350px;
}
.about-section2__card2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-section2__card2__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section2__card2__right__title {
  margin-top: 48px;
  font-size: 20px;
  color: #333136;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.about-section2__card2__right__text {
  margin-top: 32px;
  color: #333136;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 350px;
}
.about-section2__card3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-section2__card3__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section2__card3__right__title {
  margin-top: 48px;
  font-size: 20px;
  color: #333136;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.about-section2__card3__right__text {
  margin-top: 32px;
  color: #333136;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 350px;
  width: 340px;
}

@media (max-width: 768px) {
  .about-section2 {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .about-section2__card1 {
    width: 689px;
    height: 202px;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 48px;
         column-gap: 48px;
    align-items: center;
  }
  .about-section2__card1__right {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
  }
  .about-section2__card1__right__text {
    text-align: start;
    margin-top: 16px;
  }
  .about-section2__card1__right__title {
    text-align: start;
    margin-top: 0px;
  }
  .about-section2__card2 {
    width: 689px;
    height: 202px;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 48px;
         column-gap: 48px;
    align-items: center;
  }
  .about-section2__card2__right {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
  }
  .about-section2__card2__right__text {
    text-align: start;
    margin-top: 16px;
  }
  .about-section2__card2__right__title {
    text-align: start;
    margin-top: 0px;
  }
  .about-section2__card3 {
    width: 689px;
    height: 202px;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 48px;
         column-gap: 48px;
    align-items: center;
  }
  .about-section2__card3__right {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
  }
  .about-section2__card3__right__text {
    text-align: start;
    margin-top: 16px;
  }
  .about-section2__card3__right__title {
    text-align: start;
    margin-top: 0px;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 376px;
    width: 100%;
    margin: 0px auto;
  }
  .about-section2 {
    display: flex;
    flex-direction: column;
    row-gap: 280px;
  }
  .about-section2__card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section2__card1__right {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-section2__card1__right__text {
    text-align: center;
    margin-top: 16px;
    line-height: 26px;
  }
  .about-section2__card1__right__title {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
  }
  .about-section2__card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section2__card2__right {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-section2__card2__right__text {
    text-align: center;
    margin-top: 16px;
    line-height: 26px;
  }
  .about-section2__card2__right__title {
    text-align: center;
    margin-top: 0px;
  }
  .about-section2__card3 {
    width: 689px;
    height: 202px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section2__card3__right {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-section2__card3__right__text {
    text-align: center;
    margin-top: 16px;
    line-height: 26px;
  }
  .about-section2__card3__right__title {
    text-align: center;
    margin-top: 0px;
  }
  body {
    overflow-x: hidden;
  }
}
.footer {
  width: 100%;
  margin-top: 380px;
  background-color: #1D1C1E;
  padding-bottom: 100px;
  padding-top: 200px;
  z-index: -1;
}
.footer__nav {
  width: 1111px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__nav__ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
.footer__nav__ul__li {
  list-style: none;
}
.footer__nav__ul__li__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.footer__nav__ul__li__link:hover {
  -webkit-text-decoration: 1px underline #FFF;
          text-decoration: 1px underline #FFF;
}
.footer__bottom {
  margin: -50px auto;
  width: 1111px;
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  border-top: 1px solid #343334;
}
.footer__bottom__ul {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.footer__bottom__ul__li {
  list-style: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  opacity: 0.5;
}
.footer__bottom__ul__li-not-br {
  list-style: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.5;
}
.footer__bottom__ul:nth-child(2) {
  margin-left: -180px;
}
.footer__bottom__logoes {
  margin-top: 50px;
}

.not-br {
  font-weight: 100;
}

.section3 {
  margin-top: -420px;
  z-index: 2;
}

.about-section3 {
  width: 1111px;
  height: 292px;
  background-color: #E7816B;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 95px;
}
.about-section3__left {
  display: flex;
  flex-direction: column;
}
.about-section3__left__title {
  width: 268px;
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}
.about-section3__left__text {
  margin-top: 24px;
  width: 459px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.about-section3__btn {
  width: 152px;
  height: 56px;
  background-color: #FFF;
  border-radius: 8px;
  color: #333136;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
.about-section3__btn:hover {
  background-color: #FFAD9B;
  color: #FFF;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .about-section3 {
    width: 690px;
    height: 350px;
    padding-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }
  .about-section3__left {
    display: flex;
    align-items: center;
  }
  .about-section3__left__title {
    text-align: center;
  }
  .about-section3__left__text {
    text-align: center;
  }
  .about-section3__btn {
    margin-top: 34px;
  }
  .footer__nav {
    margin: 80px auto;
    width: 690px;
  }
  .footer__bottom {
    width: 690px;
  }
  .footer__bottom__ul:nth-child(2) {
    margin-left: 0px;
  }
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 376px) {
  .about-section3 {
    margin: 20px auto;
    width: 327px;
    height: 379px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }
  .about-section3__left {
    display: flex;
    align-items: center;
  }
  .about-section3__left__title {
    text-align: center;
    font-size: 32px;
    width: 279px;
    line-height: 36px;
  }
  .about-section3__left__text {
    text-align: center;
    width: 279px;
    font-size: 15px;
    line-height: 25px;
  }
  .about-section3__btn {
    margin-top: 34px;
  }
  .footer {
    margin-top: 500px;
    padding-bottom: 100px;
  }
  .footer__nav {
    margin: 60px auto;
    width: 327px;
    display: flex;
    flex-direction: column;
  }
  .footer__nav__ul {
    width: 327px;
    padding-top: 32px;
    margin-top: 32px;
    display: flex;
    row-gap: 32px;
    border-top: 1px solid #343334;
    flex-direction: column;
    border-bottom: none;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 327px;
  }
  .footer__bottom__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .footer__bottom__ul:nth-child(2) {
    margin-left: 0px;
  }
  body {
    overflow-x: hidden;
  }
}/*# sourceMappingURL=main.css.map */